@import 'variables';

.wrapper-content-page {
  min-height: 500px;
  margin-top: 56px;
}

.courses-page {
  margin-top: 110px;
}

.course-detail {
  margin-top: 90px;
}

.home-page {
  margin-top: 80px;
  margin-left: 30px;
}
