<h1>Thêm mới khoá học</h1>
<form method='post' action='/courses/store'>
  <div class='mb-3'>
    <label for='name' class='form-label'>Tên khoá học</label>
    <input name='name' class='form-control' id='name' />
  </div>
  <div class='mb-3'>
    <label for='description' class='form-label'>Mô tả</label>
    <textarea
      name='description'
      class='form-control'
      id='description'
      rows='3'
    ></textarea>
  </div>
  <div class='mb-3'>
    <label for='image' class='form-label'>Link ảnh</label>
    <input name='image' class='form-control' id='image' />
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>