<div class='pt-4'>
  <form
    class='container'
    method='POST'
    action='?_method=PUT'
    accept-charset='UTF-8'
  >
    <h2 class='mb-3'>Chỉnh sửa khoá học</h2>
    <div class='form-group mb-3'>
      <label for='title' class='form-label'>Tiêu đề</label>
      <input
        name='title'
        type='text'
        class='form-control'
        id='title'
        placeholder='VD: Khoá học HTML/CSS'
        required='true'
        value={{course.title}}
      />
    </div>
    <div class='mb-3'>
      <label for='description' class='form-label'>Mô tả</label>
      <textarea
        class='form-control'
        id='description'
        rows='3'
        name='description'
        required='true'
      >{{course.description}}</textarea>
    </div>
    <div class='mb-3'>
      <label for='title' class='form-label'>Video ID</label>
      <input
        type='text'
        class='form-control'
        id='title'
        placeholder='Video ID Youtube. VD: biS5yrMJalU'
        name='videoId'
        required='true'
        value={{course.videoId}}
      />
    </div>
    <button type='submit' class='btn btn-success mb-3'>Lưu lại</button>
  </form>
</div>