<form class="mt-4" method="post">
  <div class="mb-3">
    <label for="word-search" class="form-label">Từ Khoá</label>
    <input
      type="text"
      class="form-control"
      id="word-search"
      aria-describedby="search-help"
      placeholder="Nhập từ khoá"
      name="q"
    />
  </div>
  <div class="mb-3">
    <label for="word-search" class="form-label">Giới tính</label>
    <select
      name="gender"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="male">Nam</option>
      <option value="female" selected>Nu</option>`
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>