<div class='pt-4'>
  <form class='container' method='get' action='/'>
    <div class='mb-3'>
      <label for='search-input' class='form-label'>Từ khoá</label>
      <input
        type='text'
        class='form-control'
        id='search-input'
        placeholder='Nhập từ khoá'
        name='q'
      />
      <div id='sub-label' class='form-text'>Hãy nhập từ khoá bạn muốn tìm kiếm,
        sau đó ấn nút "Tìm kiếm".</div>
    </div>
    <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
  </form>
</div>